## Problem 1

Which customers are from the UK?

```Sql
SELECT
    *
FROM
    Customers 
WHERE
	Country = 'UK'
```

## Problem 2

What is the name of the customer who has the most orders?

```Sql
SELECT CustomerName, COUNT(*)
FROM Customers
JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
GROUP BY CustomerName
ORDER BY COUNT(*) DESC

```

## Problem 3
Which supplier has the highest average product price?

```Sql
SELECT SupplierName, AVG(Price)
FROM Suppliers
JOIN Products
ON Suppliers.SupplierID = Products.SupplierID
GROUP BY SupplierName
ORDER BY AVG(Price) DESC
```

## Problem 4
How many different countries are all the customers from? (Hint: consider DISTINCT.)

```Sql
SELECT COUNT(DISTINCT Country) AS NumberOfCountry
FROM Customers
```

## Problem 5
What category appears in the most orders?

```Sql
SELECT Categories.CategoryName, COUNT(*) FROM Categories
JOIN Products ON Products.CategoryID = Categories.CategoryID
JOIN OrderDetails ON OrderDetails.ProductID = Products.ProductID
GROUP BY Categories.CategoryID
ORDER BY COUNT(*) DESC
LIMIT 1
```

## Problem 6
What was the total cost for each order?

```Sql
SELECT OrderID, SUM(OrderDetails.Quantity * Products.Price) AS Total FROM OrderDetails
JOIN Products ON OrderDetails.ProductID = Products.ProductID
GROUP BY OrderID
ORDER BY Total DESC

```

## Problem 7
Which employee made the most sales (by total cost)?

```Sql
SELECT LastName, FirstName, SUM(Products.Price * OrderDetails.Quantity) AS Sales FROM Employees
JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID
JOIN Products ON OrderDetails.ProductID = Products.ProductID
GROUP BY Employees.EmployeeID
ORDER BY Sales DESC
```

## Problem 8
Which employees have BS degrees? (Hint: look at the LIKE operator.)

```Sql
SELECT FirstName, LastName FROM Employees
WHERE Notes LIKE '%BS%'
```

## Problem 9
Which supplier of three or more products has the highest average product price? (Hint: look at the HAVING operator.)

```Sql
SELECT SupplierName, COUNT(*) AS NUM, AVG(Products.Price) AS AvgPrice from Suppliers
JOIN Products ON Suppliers.SupplierID = Products.SupplierID
GROUP BY SupplierName 
HAVING NUM > 3
ORDER BY AvgPrice DESC
```